- content_for :title, t('.title')
=link_to 'Download Kassensystem', Settings.client.download_url, type: :primary, icon: :download_alt
%h3 Verkäufer
%ul
  %li gesamt: #{current_client.sellers.count}
  %li aktiviert: #{current_client.sellers.merge(Seller.active).count}
%h3 Artikel
%ul
  %li gesamt: #{current_client.events.joins(reservations: :items).count}
  %li Etiketten: #{current_client.events.joins(reservations: :items).merge(Item.with_label).count}
%h3 Bewertungen
gesamt: #{current_client.events.joins(reservations: :review).count}
%h3 Statistiken
%h4 Artikel pro Kategorie
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
= pie_chart current_client.categories.item_groups
%h4 Neue Artikel pro Tag
= column_chart @daily_items
%h4 Registrierungen pro Tag
= column_chart @daily_sellers
%h4 Reservierungen pro Tag
= column_chart @daily_reservations
