- content_for :title, t('.title')
=link_to 'Download Kassensystem', Settings.client.download_url, type: :primary, icon: :download_alt
%h3 Verkäufer
%ul
  %li gesamt: #{Seller.count}
  %li aktiviert: #{Seller.active.count}
  %li wartend: #{Notification.count}
%h3 Artikel
%ul
  %li gesamt: #{Item.count}
  %li Etiketten: #{Item.with_label.count}
%h3 Bewertungen
gesamt: #{Review.count}
%h3 Statistiken
%h4 Artikel pro Kategorie
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
= pie_chart Category.joins{items}.group(:name).count
%h4 Neue Artikel pro Tag
= column_chart @daily_items
%h4 Registrierungen pro Tag
= column_chart @daily_sellers
%h4 Reservierungen pro Tag
= column_chart @daily_reservations
