- content_for :title, t('.title')
=link_to 'Download Kassensystem', Settings.client.download_url, type: :primary, icon: :download_alt
%h3 Verkäufer
%ul
  %li gesamt: #{Seller.count}
  %li aktiviert: #{Seller.active.count}
  %li wartend: #{Notification.count}
%h3 Artikel
%ul
  %li gesamt: #{Item.count}
  %li Etiketten: #{Item.with_label.count}
%h3 Bewertungen
gesamt: #{Review.count}
%h3 Statistiken
%h4 Artikel pro Kategorie
%canvas#canvas_items_per_category{height: 300, width: 300, data: { url: admin_items_per_category_path } }
%h4 Neue Artikel pro Tag
%canvas#canvas_items_per_day{height: 300, width: 600, data: { url: admin_items_per_day_path } }
%h4 Registrierungen pro Tag
%canvas#canvas_sellers_per_day{height: 300, width: 600, data: { url: admin_sellers_per_day_path } }
