= simple_form_for [:admin, @event, @support_type] do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :description, hint: markdown(t('hints.markdown')), input_html: { class: 'markdown_editor', rows: 10 }
    = f.input :capacity
  .form-actions
    = f.button :submit
