- content_for :title, t('.title')
%h3= @event.name
= link_to t('new'), new_admin_event_support_type_path(@event), type: :primary, icon: :file
.list-group
  - @support_types.each do |support_type|
    .list-group-item
      %h3= support_type.name
      %p
        %strong #{support_type.supporters.count} von #{support_type.capacity} Plätzen belegt
      = markdown(support_type.description).html_safe
      .btn-group
        = link_to t('edit'), edit_admin_event_support_type_path(@event, support_type), type: :primary, icon: :pencil
        = link_to 'Helfer', admin_event_support_type_supporters_path(@event, support_type), type: :success, icon: :list
        = link_to t('destroy'), admin_event_support_type_path(@event, support_type), method: :delete,
                                                                                  type: :danger,
                                                                                  icon: :trash,
                                                                                  data: { confirm: t('sure') }
= link_to t('back'), admin_event_path(@event)
