- content_for :title, t('.title')
= simple_form_for [:admin, @client], url: admin_client_path do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :short_name
    = f.input :address, as: :text, input_html: { rows: 2 }
    = f.input :invoice_address, as: :text, input_html: { rows: 2 }
    = f.input :logo
    = f.input :intro, as: :text, hint: markdown(t('hints.markdown')), input_html: { class: 'markdown_editor', rows: 10 }
    = f.input :outro, as: :text, hint: markdown(t('hints.markdown')), input_html: { class: 'markdown_editor', rows: 10 }
    = f.input :terms, as: :text, hint: markdown(t('hints.markdown')), input_html: { class: 'markdown_editor', rows: 40 }
    = f.input :price_precision
    = f.input :precise_bill_amounts
    = f.input :reservation_fee
    = f.input :commission_rate
    = f.input :donation_of_unsold_items
    = f.input :donation_of_unsold_items_default
    = f.input :reservation_by_seller_forbidden
    = f.input :reservation_numbers_assignable
    = f.input :auto_reservation_numbers_start
    = f.input :import_items_allowed
    = f.input :import_item_code_enabled

  .form-actions
    = f.button :submit
