= simple_form_for [:admin, @reservation, @item] do |f|
  = f.error_notification
  .form-inputs
    = f.association :category, collection: @categories, include_blank: false , hint: t('.donation.hint')
    = f.input :description
    = f.input :size
    = f.input :price, html5: false
    = f.input :donation if brand_settings.donation_of_unsold_items_enabled
  .form-actions
    = f.button :submit
