= simple_form_for [:admin, @event] do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :details, hint: markdown(t('.details.hint')), input_html: { rows: 8 }
    = f.input :max_sellers
    = f.input :kind, collection: { t(:commissioned) => :commissioned, t(:direct) => :direct }, as: :radio_buttons
    = f.input :max_items_per_reservation
    = f.input :max_reservations_per_seller
    = f.input :confirmed
    = f.input :reservation_start, as: :date_time_picker, input_html: { value: l(f.object.reservation_start, format: :short) }
    = f.input :reservation_end, as: :date_time_picker, input_html: { value: l(f.object.reservation_end, format: :short) }
    = render 'periods', attribute: :handover_periods, f: f
    = render 'periods', attribute: :shopping_periods, f: f
    = render 'periods', attribute: :pickup_periods, f: f
    = f.input :price_precision, hint: t('.price_precision.hint')
    = f.input :commission_rate, hint: t('.commission_rate.hint')
    = f.input :donation_of_unsold_items_enabled if brand_settings.donation_of_unsold_items_enabled
    = f.input :seller_fee
    = f.input :reservation_fees_payed_in_advance

  .form-actions
    = f.button :submit
