= simple_form_for [:admin, @event] do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :details, hint: markdown(t('hints.markdown')), input_html: { class: 'markdown_editor', rows: 10 }
    = f.input :max_reservations
    = f.input :kind, collection: { t(:commissioned) => :commissioned, t(:direct) => :direct }, as: :radio_buttons
    = f.input :max_items_per_reservation
    = f.input :max_reservations_per_seller
    = f.input :confirmed
    = f.input :reservation_start, as: :date_time_picker, input_html: { value: l(f.object.reservation_start, format: :short) }
    = f.input :reservation_end, as: :date_time_picker, input_html: { value: l(f.object.reservation_end, format: :short) }
    = render 'periods', attribute: :handover_periods, f: f
    = render 'periods', attribute: :shopping_periods, f: f
    = render 'periods', attribute: :pickup_periods, f: f
    = f.input :price_precision, hint: t('.price_precision.hint')
    = f.input :precise_bill_amounts
    = f.input :commission_rate, hint: t('.commission_rate.hint')
    = f.input :reservation_fee
    = f.input :reservation_fee_based_on_item_count
    = f.input :reservation_fees_payed_in_advance
    = f.input :donation_of_unsold_items_enabled
    = f.input :max_donations_per_reservation
    = f.input :support_system_enabled
    = f.input :supporters_can_retire
    = f.input :gates

  .form-actions
    = f.button :submit
