= simple_form_for([:admin, @event]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :details
    = f.input :max_sellers
    = f.input :max_items_per_seller
    = f.input :price_precision, hint: t('.price_precision.hint')
    = f.input :commission_rate, hint: t('.commission_rate.hint')
    = f.input :seller_fee
    = f.input :shopping_start
    = f.input :shopping_end
    = f.input :reservation_start
    = f.input :reservation_end
    = f.input :handover_start
    = f.input :handover_end
    = f.input :pickup_start
    = f.input :pickup_end

  .form-actions
    = f.button :submit
