- content_for :title, t('.title')
%table.table.table-condensed.table-hover.table-striped
  %tr
    %th= t('position')
    %th= sort_link_to Event, :name
    %th= sort_link_to TimePeriod, :min, Event.human_attribute_name(:shopping_periods)
    %th= sort_link_to Event, :reservation_start
    %th= link_to t('.new'), new_admin_event_path, type: :primary, icon: :file

  - @events.each_with_index do |event, index|
    %tr
      %td= @events.offset + index + 1
      %td= event.name
      %td= shopping_time event
      %td= l(event.reservation_start)
      %td.btn-group
        = icon_link_to t('show'), [:admin, event], type: :primary, icon: :eye_open
        = icon_link_to t('edit'), edit_admin_event_path(event), type: :success, icon: :pencil
        = icon_link_to t('destroy'), [:admin, event], method: :delete, type: :danger, icon: :trash, data: { confirm: t('sure') }
%p= paginate @events
