- content_for :title, t('.title')
%dl
  - @event.attributes.keys.each do |attribute|
    %dt= Event.human_attribute_name attribute
    %dd= @event[attribute]
= link_to 'Bearbeiten', edit_admin_event_path(@event)
= link_to 'Reservierungen', admin_event_reservations_path(@event)
= link_to 'Bewertungen', admin_event_reviews_path(@event)
- if !Message.exists?(event: @event, category: :invitation) && @event.reservation_end.future?
  = link_to 'Reservierungseinladung verschicken', admin_event_messages_path(@event, :invitation), method: :post
- if !Message.exists?(event: @event, category: :reservation_closing) && @event.reservation_start.past? && @event.reservation_end.future?
  = link_to 'Erinnerungsmail vor Bearbeitungsschluss verschicken', admin_event_messages_path(@event, :reservation_closing), method: :post
- if !Message.exists?(event: @event, category: :reservation_closed) && @event.reservation_end.past?
  = link_to 'Bearbeitungsabschlussmail verschicken', admin_event_messages_path(@event, :reservation_closed), method: :post
