- content_for :title, t('.title')
%dl
  - [:name, :details, :max_sellers, :max_items_per_seller, :reservation_start, :reservation_end,
     :shopping_start, :shopping_end, :handover_start, :handover_end, :pickup_start, :pickup_end].each do |attribute|
    %dt= Event.human_attribute_name attribute
    %dd= ([Date, DateTime, Time, ActiveSupport::TimeWithZone].include? @event[attribute].class) ? l(@event[attribute]) : @event[attribute]
  - if @event.commission_rate.present?
    %dt= Event.human_attribute_name :commission_rate
    %dd= number_to_percentage @event.commission_rate*100, precision: 0
  - if @event.seller_fee.present?
    %dt= Event.human_attribute_name :seller_fee
    %dd= number_to_currency @event.seller_fee
  - if brand_settings.donation_of_unsold_items_enabled
    %dt= Event.human_attribute_name :donation_of_unsold_items_enabled
    %dd= t(@event.donation_of_unsold_items_enabled?.to_s)

= link_to 'Bearbeiten', edit_admin_event_path(@event), type: :primary, icon: :pencil
= link_to 'Reservierungen', admin_event_reservations_path(@event), type: :primary
= link_to 'Bewertungen', admin_event_reviews_path(@event), type: :primary
- if !Message.exists?(event: @event, category: :invitation) && @event.reservation_end.future?
  = link_to 'Reservierungseinladung verschicken', admin_event_messages_path(@event, :invitation), method: :post, type: :primary
- if !Message.exists?(event: @event, category: :reservation_closing) && @event.reservation_start.past? && @event.reservation_end.future?
  = link_to 'Erinnerungsmail vor Bearbeitungsschluss verschicken', admin_event_messages_path(@event, :reservation_closing), method: :post, type: :primary
- if !Message.exists?(event: @event, category: :reservation_closed) && @event.reservation_end.past?
  = link_to 'Bearbeitungsabschlussmail verschicken', admin_event_messages_path(@event, :reservation_closed), method: :post, type: :primary
- if !Message.exists?(event: @event, category: :finished) && @event.shopping_end.past?
  = link_to 'Abschlussmail verschicken', admin_event_messages_path(@event, :finished), method: :post, type: :primary
