- content_for :title, t('.title')
%dl
  %dt= Event.human_attribute_name :name
  %dd= @event.name
  %dt= Event.human_attribute_name :details
  %dd= markdown @event.details
  - %i[max_reservations max_items_per_reservation max_reservations_per_seller reservation_start reservation_end].each do |attribute|
    %dt= Event.human_attribute_name attribute
    %dd= ([Date, DateTime, Time, ActiveSupport::TimeWithZone].include? @event[attribute].class) ? l(@event[attribute]) : @event[attribute]
  %dt= Event.human_attribute_name :token
  %dd
    %strong
      %code= @event.token
  %dt= Event.human_attribute_name :kind
  %dd= t(@event.kind)
  %dt= Event.human_attribute_name :handover_periods
  %dd= handover_time @event
  %dt= Event.human_attribute_name :shopping_periods
  %dd= shopping_time @event
  %dt= Event.human_attribute_name :pickup_periods
  %dd= pickup_time @event
  - if @event.commission_rate.present?
    %dt= Event.human_attribute_name :commission_rate
    %dd= number_to_percentage @event.commission_rate*100, precision: 0
  - if @event.reservation_fee.present?
    %dt= Event.human_attribute_name :reservation_fee
    %dd= number_to_currency @event.reservation_fee
  - if current_client.donation_of_unsold_items
    %dt= Event.human_attribute_name :donation_of_unsold_items_enabled
    %dd= t(@event.donation_of_unsold_items_enabled?.to_s)
  %dt= Event.human_attribute_name :support_system_enabled
  %dd= t(@event.support_system_enabled?.to_s)
  %dt= Event.human_attribute_name :supporters_can_retire
  %dd= t(@event.supporters_can_retire?.to_s)

.btn-group
  = link_to 'Bearbeiten', edit_admin_event_path(@event), type: :primary, icon: :pencil
  = link_to 'Reservierungen', admin_event_reservations_path(@event), type: :primary, icon: :check
  = link_to 'Sperren', admin_event_suspensions_path(@event), type: :primary, icon: :lock
  = link_to 'Leihgeräte', admin_event_rentals_path(@event), type: :primary, icon: :shopping_cart
  = link_to 'Statistiken', stats_admin_event_path(@event), type: :primary, icon: :signal
  = link_to 'Helferverwaltung', admin_event_support_types_path(@event), type: :primary, icon: :leaf
  - if @event.items_with_label_count < @event.item_count
    = confirm_link_to data_admin_event_path(@event, format: :json), name: 'Daten herunterladen', method: :get, message: t('.confirm.download', item_count: @event.item_count, label_count: @event.items_with_label_count), type: :primary, icon: :download
  - else
    = link_to 'Daten herunterladen', data_admin_event_path(@event, format: :json), type: :primary, icon: :download
  - if @event.reservation_end.past? && @event.items_with_label_count == @event.item_count
    = link_to 'Etiketten drucken', labels_admin_event_path(@event), type: :primary, icon: :print
  - if @event.past?
    = link_to 'Bewertungen', admin_event_reviews_path(@event), type: :primary, icon: :heart
    - if @event.bill.present?
      = link_to 'Rechnung', bill_admin_event_path(@event), type: :primary, icon: :euro
%p
.btn-group
  - if !Message.exists?(event: @event, category: :invitation) && @event.reservation_end.future?
    = link_to 'Reservierungseinladung verschicken', admin_event_messages_path(@event, :invitation), method: :post, type: :primary, icon: :envelope
  - if !Message.exists?(event: @event, category: :reservation_closing) && @event.reservation_start.past? && @event.reservation_end.future?
    = link_to 'Erinnerungsmail vor Bearbeitungsschluss verschicken', admin_event_messages_path(@event, :reservation_closing), method: :post, type: :primary, icon: :envelope
  - if !Message.exists?(event: @event, category: :reservation_closed) && @event.reservation_end.past?
    = link_to 'Bearbeitungsabschlussmail verschicken', admin_event_messages_path(@event, :reservation_closed), method: :post, type: :primary, icon: :envelope
  - if !Message.exists?(event: @event, category: :finished) && @event.past?
    = confirm_link_to admin_event_messages_path(@event, :finished), name: 'Abschlussmail verschicken', method: :post, type: :primary, icon: :envelope, message: t('.confirm.send_finished', transaction_count: @event.transactions.count, sold_item_count: @event.sold_item_count)
%p
- %i[invitation reservation_closing reservation_closed finished].each do |category|
  - if message = @event.messages.find_by(category: category)
    = t(".message_sent.#{category}", sent_count: message.sent_count, scheduled_count: message.scheduled_count)
    %br

= render '/confirm', locals: {}
