- content_for :title, t('.title')
%h3 Artikel
%ul
  %li gesamt: #{@event.item_count}
  %li Etiketten: #{@event.items_with_label_count}
  %li verkauft: #{@event.sold_item_count}
#items_per_category_for_event{ data: { url: items_per_category_admin_event_path(@event.id) } }
%a(data-toggle='collapse' href='#items_per_category_table_collapser' aria-expanded=false aria-controls='items_per_category_table_collapser') Tabelle anzeigen
.collapse#items_per_category_table_collapser
  %table.table.table-condensed.table-hover.table-striped#items_per_category_table
    %thead
      %tr
        %th Kategorie
        %th Artikelanzahl
    %tbody
      - @event.items_per_category.each do |category, item_count|
        %tr
          %td= category
          %td= item_count
%h3 Verkäufer
%ul
  %li Reservierungen: #{@event.reservations.count} / #{@event.max_sellers}
  %li
    Warteliste: #{@event.notifications.count}
    %a(data-toggle='collapse' href='#notifications_collapser' aria-expanded=false aria-controls='notifications_collapser') anzeigen
    .collapse#notifications_collapser
      %table.table.table-condensed.table-hover.table-striped
        - @event.notifications.each do |notification|
          %tr
            %td= notification.seller.name
