- content_for :title, t('.title')
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
%h3 Artikel
%ul
  %li
    gesamt: #{@event.item_count}
    = pie_chart @event.items_per_category
    %a(data-toggle='collapse' href='#items_per_category_table_collapser' aria-expanded=false aria-controls='items_per_category_table_collapser') Tabelle anzeigen
    .collapse#items_per_category_table_collapser
      %table.table.table-condensed.table-hover.table-striped#items_per_category_table
        %thead
          %tr
            %th Kategorie
            %th Artikelanzahl
        %tbody
          - @event.items_per_category.each do |category, item_count|
            %tr
              %td= category
              %td= item_count
  %li Etiketten: #{@event.items_with_label_count}
  %li
    verkauft: #{@event.sold_item_count} (#{number_to_percentage(@event.sold_item_percentage, precision: 0)})
    = pie_chart @event.sold_items_per_category
    %a(data-toggle='collapse' href='#sold_items_per_category_table_collapser' aria-expanded=false aria-controls='sold_items_per_category_table_collapser') Tabelle anzeigen
    .collapse#sold_items_per_category_table_collapser
      %table.table.table-condensed.table-hover.table-striped#sold_items_per_category_table
        %thead
          %tr
            %th Kategorie
            %th Artikelanzahl
        %tbody
          - @event.sold_items_per_category.each do |category, item_count|
            %tr
              %td= category
              %td= item_count
  %li
    verkaufte Stammartikel: #{@event.sold_stock_item_count}
    %a(data-toggle='collapse' href='#sold_stock_items_table_collapser' aria-expanded=false aria-controls='sold_stock_items_table_collapser') Tabelle anzeigen
    .collapse#sold_stock_items_table_collapser
      %table.table.table-condensed.table-hover.table-striped#sold_stock_items_table
        %thead
          %tr
            %th Artikel
            %th Anzahl
        %tbody
          - @event.sold_stock_items.each do |sold_stock_item|
            %tr
              %td= sold_stock_item.stock_item.description
              %td= sold_stock_item.amount
  %li Artikelumsatz: #{number_to_currency(@event.sold_item_sum)}
  %li Reservierungsgebühren: #{number_to_currency(@event.reservation_fees_sum)}
  %li Gesamtumsatz: #{number_to_currency(@event.revenue)}
  %li Leihgebühren: #{number_to_currency(@event.rental_fees)}
  %li Systemgebühren: #{number_to_currency(@event.system_fees)}
  %li Gesamtgebühren: #{number_to_currency(@event.total_fees)}
%h3 Verkäufer
%ul
  %li
    Reservierungen: #{@event.reservations.count} / #{@event.max_sellers}
    = pie_chart @event.sellers_per_city
    %a(data-toggle='collapse' href='#sellers_per_city_table_collapser' aria-expanded=false aria-controls='selles_per_city_table_collapser') Tabelle anzeigen
    .collapse#sellers_per_city_table_collapser
      %table.table.table-condensed.table-hover.table-striped#sellers_per_city_table
        %thead
          %tr
            %th Ort
            %th Verkäuferzahl
        %tbody
          - @event.sellers_per_city.each do |city, seller_count|
            %tr
              %td= city
              %td= seller_count
  %li
    Warteliste: #{@event.notifications.count}
    %a(data-toggle='collapse' href='#notifications_collapser' aria-expanded=false aria-controls='notifications_collapser') anzeigen
    .collapse#notifications_collapser
      %table.table.table-condensed.table-hover.table-striped
        %thead
          %tr
            %th Name
            %th Stadt
        %tbody
          - @event.notifications.each do |notification|
            %tr
              %td= notification.seller.name
              %td= notification.seller.city
