<p>Sehr geehrter Flohmarkt Interessent/sehr geehrte Interessentin,</p>
<p>Wir freuen uns, Ihnen mitteilen zu können, dass ein oder mehrere Verkäuferplätze für den folgenden Flohmarkt frei geworden sind.</p>

<p>Flohmarkt: <%= @event.name %><br/>
Termin: von <%= @event.shopping_start %> bis <%= @event.shopping_end %></p>

<p>Sie können sich über den folgenden Link einen der freigewordenen Verkäuferplätze sichern:</p>

<p><a href="<%= @reserve_url %>"><%= @reserve_url %></a></p>

<p>Bitte haben Sie Verständnis, dass zum Zeitpunkt, zu dem Sie den Link aufrufen und die Reservierung durchführen wollen, gegebenenfalls kein Platz mehr frei sein kann.</p>

<p>Mit erfolgreicher Reservierung wird Ihnen eine Reservierungsnummer zugeteilt.
Sie können mit Erhalt Ihrer Reservierungssnummer Ihre Artikel eingeben und Etiketten erzeugen und ausdrucken.</p>

<p>Ihren geschützten Bereich erreichen Sie wie immer über den folgenden Link:</p>

<p><a href="<%= @login_url %>"><%= @login_url %></a></p>

<p>Viele Grüße,<br/>
Ihr Flohmarkt-Team</p>
