- content_for :title, t('.title')

%table
  %tr
    %th= Seller.human_attribute_name :first_name
    %th= Seller.human_attribute_name :last_name
    %th= Seller.human_attribute_name :email
    %td= link_to t('new'), new_seller_path

  - @sellers.each do |seller|
    %tr
      %td= seller.first_name
      %td= seller.last_name
      %td= seller.email
      %td
        = link_to t('show'), seller
        = link_to t('edit'), edit_seller_path(seller)
        = link_to t('destroy'), seller, method: :delete, data: { confirm: t('sure') }
