- content_for :title, t('.title')

:markdown
  Sie können sich hier als Interessent für den Verkauf von Ware auf kommenden Kommissionsflohmärkten
  registrieren. Die erfassten Daten dienen in erster Linie dazu,
  um Sie hinsichtlich des weiteren Ablaufs des kommenden Flohmarkts zu kontaktieren und informieren.
  In der Regel findet dies per eMail statt. Auch die Zugangsinformationen zum geschützten Bereich erhalten
  Sie per Mail. Die Telefonnummer wird benötigt, damit wir Sie in dringenden Fällen (bspw. Ware
  verlorengegangen, anderweitig nicht erreichbar) anrufen können. Die Adressdaten dienen der Abrechnung.
  Ebenso werden wir zum Schutz Ihrer Daten Ihre Angaben erfragen, sollten Sie mit uns telefonisch Kontakt
  aufnehmen.

  Pflichtfelder sind <span class="required"><abbr title="Pflichtfeld">entsprechend</abbr></span> gekennzeichnet.

= render 'form'

#terms.modal.fade(tabindex="-1" role="dialog" aria-labelledby="terms-label" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close(data-dismiss="modal")
          %span(aria-hidden="true")
            &times;
          %span.sr-only Close
        %h4.modal-title#terms-label= t('terms.title')
      .modal-body
        = markdown(Settings.terms).html_safe
      .modal-footer
        %button.btn.btn-primary(data-dismiss="modal") Schließen
#privacy.modal.fade(tabindex="-1" role="dialog" aria-labelledby="privacy-label" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close(data-dismiss="modal")
          %span(aria-hidden="true")
            &times;
          %span.sr-only Close
        %h4.modal-title#privacy-label= t('privacy.title')
      .modal-body
        = markdown(t('privacy.content')).html_safe
      .modal-footer
        %button.btn.btn-primary(data-dismiss="modal") Schließen
