- content_for :title, t('.title')
%p Zum Aktualisieren Ihrer Daten f체llen Sie bitte zun채chst das folgende Fomular aus:
= simple_form_for(@seller, url: reenter_seller_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email, hint: 'Geben Sie bitte die eMail-Adresse an, mit der Sie sich registriert und 체ber die Sie die Mail mit dem Link zu diesem gesch체tzten Bereich erhalten haben'
  .form-actions
    = f.button :submit, 'Aktualisieren'
