- content_for :title, t('.title')
%p.bg-warning
  %strong
    Leider hatte unser Internetprovider einen Systemausfall.
    Derzeit arbeitet der Provider noch am Restaurieren der Daten.
    Da diese bis jetzt noch nicht wieder hergestellt wurden, müssen Sie leider nochmal Ihre Stammdaten eingeben.
%p Zum Vervollständigen Ihrer Daten füllen Sie bitte zunächst das folgende Fomular aus:
= simple_form_for(@seller, url: reenter_seller_path) do |f|
  = f.error_notification

  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :email, hint: 'Achten Sie bitte auf Korrektheit der eMail-Adresse. Geben Sie bitte die eMail-Adresse an, mit der Sie sich registriert und über die Sie die Mail mit dem Link zu diesem geschützten Bereich erhalten haben'
  .form-actions
    = f.button :submit, 'Aktualisieren'
