- content_for :title, t('.title')
%p
  Von hier aus können Sie Ihre Stammdaten und Artikel verwalten.
  Sollten Sie keine weitere eMail-Benachrichtigung erhalten oder Ihre Daten löschen wollen,
  können Sie dies in der Stammdatenbearbeitung durchführen.
%h3 Reservierungen
- if @seller.reservations.recent.any?
  %p Sie haben die folgenden Reservierungen:
  %ul
    - @seller.reservations.recent.each do |reservation|
      %li
        %p
          %strong= reservation.event.name
          (#{shopping_time(reservation.event)})<br/>
          - if reservation.event.past?
            Der Flohmarkt ist beendet.
            Sie können sich #{ link_to 'die Ergebnisse', reservation.event } des Flohmarkts anschauen.
            - unless reservation.event.reviewed_by? @seller
              Wir würden uns auch freuen, wenn Sie den #{ link_to 'Flohmarkt bewerten', new_event_reservation_review_path(reservation.event, reservation) } würden.
          - else
            - if reservation.event.commissioned? && reservation.event.reservation_end.future?
              Alle zu verkaufenden Artikel müssen bis zum #{l(reservation.event.reservation_end, format: :long)} eingetragen und die Etiketten erzeugt sein.
            Sie haben bisher #{ reservation.items.count } Artikel angelegt.
            Sie haben die Reservierungsnummer <strong>#{reservation.number}</strong>.<br/>
            - if reservation.event.reservation_end.future?
              Sollten Sie nicht mehr als Verkäufer am Flohmarkt teilnehmen können, bitte geben Sie Ihre Reservierung wieder frei.
            %br
            = link_to 'Artikel bearbeiten', event_reservation_items_path(reservation.event, reservation), type: :primary, icon: :list
            = destroy_link_to(event_reservation_path(reservation.event, reservation), name: 'Reservierung freigeben', icon: :remove_circle, message: t('.confirm_delete_reservation')) if reservation.event.reservation_end.future?
= render '/confirm', locals: { type: :danger }
- if @events
  %h3 Aktuelle Termine
  %p Die folgenden Termine sind aktuell in der Reservierungsphase:
  %ul
    - @events.each do |event|
      %li
        %p
          %strong= event.name
          (#{shopping_time(event)})
          %br
          #{event.reservations_left} von #{event.max_reservations} Plätzen frei
          %br
          - if event.reservable_by?(@seller)
            Sie können eine Reservierungsanfrage stellen.
            %br
            = link_to 'Reservierungsanfrage stellen', event_reservations_path(event), method: :post, type: :primary, icon: :ok_circle
          - elsif @seller.suspended_for?(event)
            Sie können aufgrund einer Sperre keine Reservierung durchführen. Grund der Sperre:
            = @seller.suspensions.find_by(event: event).reason
          - elsif !event.reservations_left?
            Leider sind alle Plätze bereits vergeben.
            - if @seller.notifications.any? { |notification| notification.event == event }
              Sie stehen auf der Warteliste an Position #{waiting_list_position(event, @seller)}.
            - elsif event.notifiable_by?(@seller)
              Sie können sich #{ link_to 'auf die Warteliste setzen lassen', event_notification_path(event), method: :post }.
              Sie erhalten eine Mail, sobald ein Platz für Sie frei geworden ist.
          - elsif event.client.reservation_by_seller_forbidden
            Um eine Reservierung zu erhalten,
            =mail_to(current_client.mail_address, 'kontaktieren Sie uns')
            bitte.
          - elsif @seller.notifications.any? { |notification| notification.event == event }
            Ihre Reservierungsanfrage wird verarbeitet.
          - else
            Sie haben bereits die maximale Anzahl erlaubter Reservierungen für diesen Termin.
- unless @events_with_support.empty?
  %h3 Helfer
  %p Bei den folgenden Terminen werden Helfer benötigt:
  %ul
    - @events_with_support.each do |event|
      %li
        = link_to "#{event.name} (#{shopping_time(event)})", event_support_path(event)

%h3 Ihre Stammdaten
%p
  %strong #{@seller.first_name} #{@seller.last_name}<br/>
  #{@seller.street}<br/>
  #{@seller.zip_code} #{@seller.city}<br/>
%p
  Tel.: #{@seller.phone}<br/>
  Mail: #{mail_to @seller.email}
= link_to 'Stammdaten bearbeiten', edit_seller_path, type: :primary, icon: :user
