- content_for :title, t('.title')
%p Von hier aus können Sie Ihre Stammdaten und Artikel verwalten. Sollten Sie keine weitere eMail-Benachrichtigung erhalten oder Ihre Daten löschen wollen, können Sie dies in der Stammdatenbearbeitung durchführen.
- if @seller.zip_code.nil?
  %p.bg-warning
    <strong>Hinweis:<br/>
    Bedingt durch einen Systemausfall am 29. August sind bis dahin eingegebene Daten vorerst nicht mehr im System.
    Der Provider arbeitet an der Wiederherstellung der Daten, kann jedoch noch nicht sagen, wie lange es dauern wird.<br/><br/>
    Sollten Sie bereits eine Reservierungsnummer und eine Reservierungsbestätigung per Mail für den aktuellen Flohmarkt erhalten haben,
    diese Reservierungsnummer jetzt aber nicht mehr hier zu sehen sein,
    möchten wir Sie bitten, auf die Mail mit der Reservierungsbestätigung und Reservierungsnummer einfach zu antworten (ohne Kommentar)
    und diese abzuschicken oder die Mail an folgende eMail-Adresse weiterzuleiten:
    <a href="mailto:reservierung@flohmarkthelfer.de">reservierung@flohmarkthelfer.de</a><br/><br/>
    Sobald wir diese Mail erhalten haben, können wir Ihnen diese Reservierungsnummer wieder zuweisen.
  %p.bg-warning
    Sollten Sie bereits Etiketten vor dem Systemausfall ausgedruckt haben, die hier jetzt nicht mehr aufgelistet werden,
    brauchen Sie diese nicht noch einmal zu erzeugen. Wir werden diese Artikel und Etiketten direkt beim Flohmartktermin im System wieder einlernen.<br/>
    Sollten Sie allerdings vor dem Systemausfall Ihre Artikel zwar schon angelegt aber noch nicht gedruckt haben, so empfehlen wir,
    bis eine Woche vor Abgabetermin auf die Datenwiederherstellung zu warten. Wenn diese erfolgt ist, können Sie Ihre Etiketten dann erzeugen.
    Sollte Die Datenwiederherstellung bis dahin jedoch nicht abgeschlossen sein, haben Sie noch genug Zeit, diese Artikel noch einmal anzulegen und dann auszudrucken.
    <br/><br/>
    Wenn Sie diese Hinweise zur Kenntnis genommen und in Zukunft nicht mehr anzeigen lassen wollen, vervollständigen Sie bitte Ihre Stammdaten.
%h3 Reservierungen
- if @seller.reservations.recent.any?
  %p Sie haben die folgenden Reservierungen:
  %ul
    - @seller.reservations.recent.each do |reservation|
      %li
        %p
          %strong= reservation.event.name
          (#{shopping_time(reservation.event)})<br/>
          - if reservation.event.past?
            Der Flohmarkt ist beendet.
            Sie können sich #{ link_to 'die Ergebnisse', reservation.event } des Flohmarkts anschauen.
            - unless reservation.event.reviewed_by? @seller
              Wir würden uns auch freuen, wenn Sie den #{ link_to 'Flohmarkt bewerten', new_event_review_path(reservation.event) } würden.
          - else
            - if reservation.event.commissioned? && reservation.event.reservation_end.future?
              Alle zu verkaufenden Artikel müssen bis zum #{l(reservation.event.reservation_end, format: :long)} eingetragen und die Etiketten erzeugt sein.
            Sie haben bisher #{ reservation.items.count } Artikel angelegt.
            Sie haben die Reservierungsnummer <strong>#{reservation.number}</strong>.<br/>
            Sollten Sie nicht mehr als Verkäufer am Flohmarkt teilnehmen können, bitte geben Sie Ihre Reservierung wieder frei.
            %br
            = link_to 'Artikel bearbeiten', event_reservation_items_path(reservation.event, reservation), type: :primary, icon: :list
            = link_to 'Reservierung freigeben', event_reservation_path(reservation.event, reservation), method: :delete,
              type: :danger, icon: :remove_circle, data: { confirm: t('.confirm_delete_reservation') }
- if @events
  %p Die folgenden Flohmärkte sind aktuell in der Reservierungsphase:
  %ul
    - @events.each do |event|
      %li
        %p
          %strong= event.name
          (#{shopping_time(event)})
          %br
          #{event.reservations_left} von #{event.max_sellers} Plätzen frei
          %br
          - if event.reservations_left > 0
            Sie können sich einen Verkäuferplatz reservieren.
            %br
            = link_to 'Verkäuferplatz reservieren', event_reservations_path(event), method: :post, type: :primary, icon: :ok_circle
          - else
            Leider sind alle Plätze bereits vergeben.
            - if @seller.notifications.any? { |notification| notification.event == event }
              Sie stehen auf der Warteliste und bekommen eine Email sobald ein Platz frei wird.
            - else
              Sie können sich #{ link_to 'auf die Warteliste setzen lassen', event_notification_path(event), method: :post }.
              Sie erhalten eine Mail sobald ein Platz frei wird.
%h3 Ihre Stammdaten
%p
  %strong #{@seller.first_name} #{@seller.last_name}<br/>
  #{@seller.street}<br/>
  #{@seller.zip_code} #{@seller.city}<br/>
%p
  Tel.: #{@seller.phone}<br/>
  Mail: #{mail_to @seller.email}
= link_to 'Stammdaten bearbeiten', edit_seller_path, type: :primary, icon: :user
