- content_for :title, t('.title')
%p Von hier aus können Sie Ihre Stammdaten und Artikel verwalten. Sollten Sie keine weitere eMail-Benachrichtigung erhalten oder Ihre Daten löschen wollen, können Sie dies in der Stammdatenbearbeitung durchführen.
%h3 Reservierungen
- if @seller.reservations.any?
  %p Sie haben die folgenden Reservierungen:
  %ul
    - @seller.reservations.each do |reservation|
      %li
        %p
          %strong= reservation.event.name
          am #{l(reservation.event.shopping_start.to_date, format: :long)}<br/>
          - if reservation.event.shopping_end.past?
            Der Flohmarkt ist beendet. Sie können sich #{ link_to 'hier', reservation.event } die Ergebnisse des Flohmarkts anschauen.
            - unless reservation.event.reviewed_by? @seller
              Wir würden uns auch freuen, wenn Sie den #{ link_to 'Flohmarkt bewerten', new_event_review_path(reservation.event) } würden.
          - else
            - if reservation.event.commission? && reservation.event.reservation_end.future?
              Alle zu verkaufenden Artikel müssen bis zum #{l(reservation.event.reservation_end, format: :long)} eingetragen und die Etiketten erzeugt sein.
            Sie haben bisher #{ reservation.items.count } Artikel angelegt.
            = link_to 'Artikel bearbeiten', event_items_path(reservation.event)
            Sie haben die Reservierungsnummer <strong>#{reservation.number}</strong>.<br/>
            Sollten Sie nicht mehr als Verkäufer am Flohmarkt teilnehmen können, bitte
            = link_to 'geben Sie Ihre Reservierung wieder frei.', event_reservation_path(reservation.event), method: :delete,
              data: { confirm: t('.confirm_delete_reservation') }
- if @events
  %p Die folgenden Flohmärkte sind aktuell in der Reservierungsphase und Sie haben noch keine Reservierung für diese:
  %ul
    - @events.each do |event|
      %li
        %p
          %strong= event.name
          am #{l(event.shopping_start.to_date, format: :long)} <br/>
          - if event.max_sellers <= event.reservations.count
            Leider sind alle Plätze bereits vergeben.
            - if @seller.notifications.any? { |notification| notification.event == event }
              Sie stehen auf der Warteliste und bekommen eine Email sobald ein Platz frei wird.
            - else
              Sie können sich #{ link_to 'auf die Warteliste setzen lassen', event_notification_path(event), method: :post }.
              Sie erhalten eine Mail sobald ein Platz frei wird.
          - else
            Sie können sich #{ link_to 'einen Verkäuferplatz reservieren', event_reservation_path(event), method: :post }.
%h3 Ihre Stammdaten
%p
  %strong #{@seller.first_name} #{@seller.last_name}<br/>
  #{@seller.street}<br/>
  #{@seller.zip_code} #{@seller.city}<br/>
%p
  Tel.: #{@seller.phone}<br/>
  Mail: #{link_to @seller.email, "mailto:#{@seller.email}"}
= link_to 'Stammdaten bearbeiten', edit_seller_path
