= simple_form_for(@reserved_item) do |f|
  = f.error_notification

  .form-inputs
    = f.association :reservation
    = f.association :item
    = f.input :number
    = f.input :code

  .form-actions
    = f.button :submit
