- content_for :title, t('.title')

%table
  %tr
    %th= ReservedItem.human_attribute_name :reservation
    %th= ReservedItem.human_attribute_name :item
    %th= ReservedItem.human_attribute_name :number
    %th= ReservedItem.human_attribute_name :code
    %th= ReservedItem.human_attribute_name :sold
    %td= link_to t('new'), new_reserved_item_path

  - @reserved_items.each do |reserved_item|
    %tr
      %td= link_to reserved_item.reservation, reserved_item.reservation
      %td= link_to reserved_item.item, reserved_item.item
      %td= reserved_item.number
      %td= reserved_item.code
      %td= reserved_item.sold
      %td
        = link_to t('show'), reserved_item
        = link_to t('edit'), edit_reserved_item_path(reserved_item)
        = link_to t('destroy'), reserved_item, method: :delete, data: { confirm: t('sure') }
