= simple_form_for [:admin, @event, @reservation] do |f|
  = f.error_notification
  .form-inputs
    = f.input :commission_rate, hint: t('.commission_rate.hint')
    = f.input :fee

  .form-actions
    = f.button :submit
