- content_for :title, t('.title')
%table.table.table-condensed.table-hover.table-striped
  %tr
    %th= sort_link_to Reservation, :number
    %th= sort_link_to Seller, :name
    %th= sort_link_to Seller, :city
    %th= sort_link_to Seller, :email
    %th= Seller.human_attribute_name :item_count
    %th= Reservation.human_attribute_name :max_items
    %th= Reservation.human_attribute_name :fee
    %th= Reservation.human_attribute_name :commission_rate
    - if current_client.reservation_numbers_assignable
      %th= link_to t('.new'), new_admin_event_reservation_path(@event), type: :primary, icon: :file
    - else
      %th= link_to t('.new_bulk'), new_bulk_admin_event_reservations_path(@event), type: :primary, icon: :file
  - @reservations.each do |reservation|
    %tr
      %td= reservation.number
      %td= link_to reservation.seller.name, admin_seller_path(reservation.seller)
      %td= reservation.seller.city
      %td= reservation.seller.email
      %td= reservation.items.count
      %td= reservation.max_items
      %td= number_to_currency reservation.fee
      %td= number_to_percentage reservation.commission_rate * 100, precision: 0
      %td
        = icon_link_to t('.items'), admin_reservation_items_path(reservation), type: :success, icon: :list
        = icon_link_to t('edit'), edit_admin_event_reservation_path(@event, reservation), type: :primary, icon: :pencil
        = destroy_icon_link_to admin_event_reservation_path(reservation.event, reservation)
%p= paginate @reservations, event_id: @event.id
= render '/confirm', locals: { type: :danger }
