- content_for :title, t('.title')
%table.table.table-condensed.table-hover.table-striped
  %tr
    %th= sort_link_to Reservation, :number
    %th= sort_link_to Seller, :name
    %th= sort_link_to Seller, :city
    %th= sort_link_to Seller, :email
    %th= Seller.human_attribute_name :item_count
    %th= Reservation.human_attribute_name :fee
    %th= Reservation.human_attribute_name :commission_rate
    %th= link_to t('.new'), new_admin_event_reservation_path(@event), type: :primary, icon: :file
  - @reservations.each do |reservation|
    %tr
      %td= reservation.number
      %td= link_to reservation.seller.name, admin_seller_path(reservation.seller)
      %td= reservation.seller.city
      %td= reservation.seller.email
      %td= reservation.items.count
      %td= number_to_currency reservation.fee
      %td= number_to_percentage reservation.commission_rate * 100, precision: 0
      %td
        = icon_link_to t('.items'), admin_reservation_items_path(reservation), type: :success, icon: :list
        = icon_link_to t('edit'), edit_admin_event_reservation_path(@event, reservation), type: :primary, icon: :pencil
        = icon_link_to t('destroy'), [:admin, reservation.event, reservation], method: :delete,
                                                                            type: :danger,
                                                                            icon: :trash,
                                                                            data: { confirm: t('sure') }
%p= paginate @reservations, event_id: @event.id
