- content_for :title, t('.title')
= simple_form_for [:admin, @event, @reservation] do |f|
  = f.error_notification
  .form-inputs
    = f.association :seller, label_method: :label_for_selects, collection: @sellers, include_blank: t('.seller.blank')
    = f.input :number, collection: @available_numbers, include_blank: false
    = render 'inputs', f: f
  .form-actions
    = f.button :submit
