- content_for :title, t('.title')
%table.table.table-condensed.table-hover.table-striped
  %tr
    %th= MessageTemplate.human_attribute_name :category
    %th= MessageTemplate.human_attribute_name :subject
    %th
  - @message_templates.each_with_index do |message_template|
    %tr
      %td= t("message_categories.#{message_template.category}")
      %td= message_template.subject
      %td.btn-group
        = icon_link_to t('edit'), edit_admin_message_template_path(message_template), type: :primary, icon: :pencil
        = destroy_icon_link_to admin_message_template_path(message_template), name: t('.destroy.action'), icon: :repeat
= render '/confirm', locals: { message: t('.destroy.confirm'), type: :danger }
