= simple_form_for([:admin, @seller]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :first_name
    = f.input :last_name
    = f.input :street
    = f.input :zip_code
    = f.input :city
    = f.input :phone
    = f.input :email
    - if @seller.client.auto_reservation_numbers_start.present?
      = f.input :default_reservation_number

  .form-actions
    = f.button :submit
