- content_for :title, t('.title')
= simple_form_for [:admin, @event, @rental] do |f|
  = f.error_notification
  .form-inputs
    = f.association :hardware, collection: @hardware, include_blank: false
    = f.input :amount
  .form-actions
    = f.button :submit
