= simple_form_for [:admin, @event, @support_type, @supporter] do |f|
  = f.error_notification
  .form-inputs
    - if @sellers.present?
      = f.input :seller_id, label_method: :label_for_selects, collection: @sellers, include_blank: false
    = f.input :comments
  .form-actions
    = f.button :submit
%br
= link_to t('back'), admin_event_support_type_supporters_path(@event, @support_type)
