%h2 Listing events

%table
  %tr
    %th Name
    %th Max sellers
    %td= link_to 'New', new_event_path

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.max_sellers
      %td
        = link_to 'Show', event
        = link_to 'Edit', edit_event_path(event)
        = link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }
