%h2 Listing events

%table.table.table-condensed.table-striped.table-hover
  %tr
    %th Name
    %th Details
    %th Max sellers
    %th Max items per seller
    %th Confirmed
    %th= link_to 'New Event', new_event_path, class: 'btn btn-primary btn-xs'

  - @events.each do |event|
    %tr
      %td= event.name
      %td= event.details
      %td= event.max_sellers
      %td= event.max_items_per_seller
      %td= event.confirmed
      %td
        = link_to 'Show', event, class: 'btn btn-primary btn-xs'
        = link_to 'Edit', edit_event_path(event), class: 'btn btn-primary btn-xs'
        = link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning btn-xs'
