%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Details:
  = @event.details
%p
  %b Max sellers:
  = @event.max_sellers
%p
  %b Max items per seller:
  = @event.max_items_per_seller
%p
  %b Confirmed:
  = @event.confirmed

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
