- content_for :title, "#{t('.title')} - #{@event.name}"
= javascript_include_tag "//www.google.com/jsapi", "chartkick"
%h3= shopping_time @event
Insgesamt wurden
%strong= @event.item_count
Artikel auf dem Flohmarkt angeboten.
- if @event.item_count != 0
  Hier eine Aufstellung der Artikel-Kategorien:
  = pie_chart @event.items_per_category
  Von den
  %strong= @event.item_count
  angebotenen Artikeln wurden
  %strong= @event.sold_item_count
  Artikel verkauft.
  Damit wurden
  %strong= number_to_percentage(@event.sold_item_percentage, precision: 0)
  aller Artikel verkauft:
  = pie_chart @event.sold_items_per_category
Die Verkäufer kamen aus den folgenden Ortschaften:
= pie_chart @event.sellers_per_city
Hier die Top 10 der Verkäufer:
= column_chart @event.top_sellers.take(10)
