.row
  .col-sm-8
    = image_tag current_client.logo if current_client.logo.present?
    %p= current_client.address
    = markdown(current_client.intro).html_safe if current_client.intro.present?
    %p Auf diesen Seiten können Sie sich für unsere kommenden Flohmärkte als Verkäufer registrieren. Sie werden dann zeitnah per Mail über den weiteren Ablauf informiert.
    %p Die Anzahl der Verkäufer ist in der Regel begrenzt. Die Reservierung findet ab einem bestimmten Datum vor Beginn des Flohmarkts statt und wird hier auf den Webseiten sowie per eMail an alle registrierten Interessenten rechtzeitig angekündigt. Nur registrierte Verkäufer können eine Reservierung online durchführen. Genaue Informationen darüber erhalten Sie mit der Registrierung.
    %p= link_to "Zur Registrierung", new_seller_path, icon: :user, type: :primary
    %p Sie sind <strong>bereits registriert</strong> und möchten Ihre Zugangsinformationen nochmals per Mail erhalten:
    %p= link_to "Meine Zuganginformationen anfordern", resend_activation_seller_path, icon: :paperclip, type: :primary
  .col-sm-4.hidden-xs.center-block
    = link_to 'http://flohmarkthelfer.de' do
      = image_tag 'logo.png', class: 'img-responsive'
%h3 Kommende Flohmärkte
- if @events.empty?
  %p Aktuell sind keine Flohmärkte geplant.
- else
  %ul
    - @events.each do |event|
      %li
        %h4= event.name
        %p
          %strong= shopping_time event
        - if event.confirmed?
          %p= markdown event.details
          %dl.dl-horizontal
            %dt= Event.human_attribute_name :reservation_start
            %dd= l(event.reservation_start)
            - if event.commissioned?
              %dt= Event.human_attribute_name :handover_periods
              %dd= handover_time event
              %dt= Event.human_attribute_name :pickup_periods
              %dd= pickup_time event
            %dt Freie Plätze
            %dd #{event.reservations_left} von #{event.max_sellers}
.hidden-xs= markdown(current_client.outro).html_safe if current_client.try(:outro).present?
