.row
  .col-sm-8
    - logos.each do |logo|
      = image_tag logo
    = markdown(brand_settings.home.intro).html_safe if brand_settings.home.try(:intro).present?
    %p Auf diesen Seiten können Sie sich für unsere kommenden Flohmärkte als Verkäufer registrieren. Sie werden dann zeitnah per Mail über den weiteren Ablauf informiert.
    %p Die Anzahl der Verkäufer ist in der Regel begrenzt. Die Reservierung findet ab einem bestimmten Datum vor Beginn des Flohmarkts statt und wird hier auf den Webseiten sowie per eMail an alle registrierten Interessenten rechtzeitig angekündigt. Nur registrierte Verkäufer können eine Reservierung online durchführen. Genaue Informationen darüber erhalten Sie mit der Registrierung.
    %p= link_to "Zur Registrierung", new_seller_path, icon: :user, type: :primary
    %p Sie sind <strong>bereits registriert</strong>, finden aber nicht mehr die eMail mit den Zugangsinformationen zu Ihren privaten Bereich? Dann klicken Sie bitte #{ link_to "hier", resend_activation_seller_path }.
  .col-sm-4.hidden-xs.center-block
    = link_to 'http://flohmarkthelfer.de' do
      = image_tag 'logo.png', class: 'img-responsive'
%h3 Kommende Flohmärkte
- if @events.empty?
  %p Aktuell sind keine Flohmärkte geplant.
- else
  %ul
    - @events.each do |event|
      %li
        %h4= event.name
        %p
          %strong= shopping_time event
        - if event.confirmed?
          %p= event.details
          %dl
            %dt= Event.human_attribute_name :reservation_start
            %dd= l(event.reservation_start)
          %p Freie Plätze: #{event.reservations_left}
.hidden-xs= markdown(brand_settings.home.outro).html_safe if brand_settings.home.try(:outro).present?
