- content_for :title, t('.title')

%table
  %tr
    %th= Reservation.human_attribute_name :seller
    %th= Reservation.human_attribute_name :event
    %th= Reservation.human_attribute_name :number
    %td= link_to t('new'), new_reservation_path

  - @reservations.each do |reservation|
    %tr
      %td= link_to reservation.seller, reservation.seller
      %td= link_to reservation.event, reservation.event
      %td= reservation.number
      %td
        = link_to t('show'), reservation
        = link_to t('edit'), edit_reservation_path(reservation)
        = link_to t('destroy'), reservation, method: :delete, data: { confirm: t('sure') }
