- content_for :title, t('.title')
%p
  Hier können Sie Ihre Artikel verwalten.
  Sie können beliebig viele Artikel eingeben, auch ohne eine Reservierung zu haben.
  Sobald Sie eine Reservierung haben, können Sie Etiketten für ausgewählte Artikel erzeugen.
%p
  Sie haben aktuell #{@items.count} Artikel angelegt.
  - if @event.max_items_per_seller <= @items.count
    Sie können keine weiteren Artikel anlegen.
  - else
    Sie können noch #{@event.max_items_per_seller-@items.count} Artikel anlegen.
= link_to 'Artikel hinzufügen', new_event_item_path(@event), type: :primary, icon: :file if @items.count < @event.max_items_per_seller
%table.table.table-condensed.table-hover.table-striped
  %tr
    %th= t('position')
    %th= Item.human_attribute_name :category
    %th= Item.human_attribute_name :description
    %th= Item.human_attribute_name :size
    %th= Item.human_attribute_name :price
    %th Aktionen

  - @items.each_with_index do |item, index|
    %tr
      %td= @items.offset + index + 1
      %td= item.category
      %td= item.description
      %td= item.size
      %td= number_to_currency(item.price)
      %td
        - if item.code.nil?
          = link_to t('edit'), edit_event_item_path(@event, item), type: :primary, icon: :pencil
          = link_to t('destroy'), [@event, item], method: :delete, type: :warning, icon: :trash, data: { confirm: t('.destroy.confirm') }
        - else
          Etikett erzeugt mit Nummer #{item.code}
%p= paginate @items, event_id: @event.id
- unless @items.empty?
  = link_to 'Etiketten drucken', event_labels_path(@event), type: :primary, icon: :print
%p= link_to 'Zur Hauptseite des gesicherten Bereichs', seller_path, type: :default
