- content_for :title, t('.title')

%table
  %tr
    %th= Item.human_attribute_name :seller
    %th= Item.human_attribute_name :category
    %th= Item.human_attribute_name :description
    %th= Item.human_attribute_name :size
    %th= Item.human_attribute_name :price
    %td= link_to t('new'), new_item_path

  - @items.each do |item|
    %tr
      %td= link_to item.seller, item.seller
      %td= link_to item.category, item.category
      %td= item.description
      %td= item.size
      %td= item.price
      %td= link_to t('show'), item
      %td= link_to t('edit'), edit_item_path(item)
      %td= link_to t('destroy'), item, method: :delete, data: { confirm: t('sure') }

