- content_for :title, t('.title')
%p  Hier können Sie Ihre Artikel verwalten.
%p
  Sie haben aktuell #{@items.count} Artikel angelegt.
  - if @event.max_items_per_seller <= @items.count
    Sie können keine weiteren Artikel anlegen.
  - else
    Sie können noch #{@event.max_items_per_seller-@items.count} Artikel anlegen.
= link_to 'Artikel hinzufügen', new_event_item_path(@event), type: :primary, icon: :file if @items.count < @event.max_items_per_seller
%table.table.table-condensed.table-hover.table-striped
  %tr
    %th= t('position')
    %th= sort_link_to Category, :name, Item.human_attribute_name(:category)
    %th= sort_link_to Item, :description
    %th= sort_link_to Item, :size
    %th= sort_link_to Item, :price
    - if @event.donation_of_unsold_items_enabled
      %th= sort_link_to Item, :donation
    %th Aktionen

  - @items.each_with_index do |item, index|
    %tr
      %td= @items.offset + index + 1
      %td= item.category
      %td= item.description
      %td= item.size
      %td= number_to_currency(item.price)
      - if @event.donation_of_unsold_items_enabled
        %td= t((item.donation ? true:false).to_s)
      %td.btn-group
        - if item.code.nil?
          = icon_link_to t('edit'), edit_event_item_path(@event, item), type: :primary, icon: :pencil
          = icon_link_to t('destroy'), [@event, item], method: :delete, type: :danger, icon: :trash, data: { confirm: t('.destroy.confirm') }
        - else
          Etikett erzeugt mit Nummer #{item.code}
%p= paginate @items, event_id: @event.id
- unless @items.empty?
  = link_to 'Etiketten drucken', event_labels_path(@event), type: :primary, icon: :print
%p= link_to 'Zur Hauptseite des gesicherten Bereichs', seller_path, type: :default
