- content_for :title, t('.title')
%p  Hier können Sie Ihre Artikel verwalten.
%p
  Sie haben aktuell #{@items.count} Artikel angelegt.
  - if @event.reservation_end.past?
    Die Artikeleingabe ist abgeschlossen. Sie können jetzt nur noch Ihre Etiketten ausdrucken.
  - else
    - if @reservation.max_items <= @items.count
      Sie können keine weiteren Artikel anlegen.
    - else
      Sie können noch #{@reservation.max_items-@items.count} Artikel anlegen.
      = link_to 'Artikel hinzufügen', new_event_reservation_item_path(@event, @reservation), type: :primary, icon: :file

%table.table.table-condensed.table-hover.table-striped
  %tr
    %th= sort_link_to Item, :number
    %th= sort_link_to Category, :name, Item.human_attribute_name(:category)
    %th= sort_link_to Item, :description
    %th= sort_link_to Item, :size
    %th= sort_link_to Item, :price
    - if @event.donation_of_unsold_items_enabled
      %th= sort_link_to Item, :donation
    %th Aktionen

  - @items.each_with_index do |item|
    %tr
      %td= item.number
      %td= item.category
      %td= item.description
      %td= item.size
      %td= number_to_currency(item.price)
      - if @event.donation_of_unsold_items_enabled
        %td= t((item.donation ? true:false).to_s)
      %td.btn-group
        - if item.code.nil?
          - unless @event.reservation_end.past?
            = icon_link_to t('edit'), edit_event_reservation_item_path(@event, @reservation, item), type: :primary, icon: :pencil
            = destroy_icon_link_to event_reservation_item_path(@event, @reservation, item), message: t('.destroy.confirm')
        - else
          Etikett erzeugt
          - unless @event.reservation_end.past?
            %span= destroy_icon_link_to code_event_reservation_item_path(@event, @reservation, item), name: t('delete_code'), message: t('.delete_code.confirm'), type: :warning, icon: :tag
%p= paginate @items, event_id: @event.id, reservation_id: @reservation.id
- unless @items.empty?
  = link_to 'Etiketten drucken', event_reservation_labels_path(@event, @reservation), type: :primary, icon: :print
%p= link_to 'Zur Hauptseite des gesicherten Bereichs', seller_path, type: :default
= render '/confirm', locals: { type: :danger }
