= simple_form_for([:admin, @category]) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :max_items_per_seller
    = f.input :donation_enforced if brand_settings.donation_of_unsold_items_enabled
  .form-actions
    = f.button :submit
