- content_for :title, t('.title')
%p Sollten Sie Fragen oder Anregungen haben, nutzen Sie bitte das folgende Formular, um mit uns Kontakt aufzunehmen:
= simple_form_for @contact, url: contact_submit_path do |f|
  = f.error_notification
  .form-inputs
    - if @seller.present?
      %p
        %strong Absender:
        #{@seller.name} (#{@seller.email})
    - else
      = f.input :name, as: :string, required: true
      = f.input :email, as: :string, required: true
    = f.input :topic, as: :string
    = f.input :body, as: :text, input_html: { rows: 15 }
    = f.input :sum, as: :string, hint: t('.sum', add1: f.object.add1, add2: f.object.add2), required: true
    = f.input :add1, as: :hidden
    = f.input :add2, as: :hidden
  .form-actions
    = f.button :submit
