- content_for :title, t('.title')
%table.table.table-condensed.table-hover.table-striped
  %tr
    %th= t('position')
    %th= Event.human_attribute_name :name
    %th= Event.human_attribute_name :shopping_start
    %th= Event.human_attribute_name :reservation_start
    %th= link_to t('new'), controller: controller_name, action: :new


  - @objects.each_with_index do |object, index|
    %tr
      %td= index+1
      %td= object.name
      %td= object.shopping_start
      %td= object.reservation_start
      %td
        = link_to t('show'), [:admin, object]
        = link_to t('edit'), [:edit, :admin, object]
        = link_to t('destroy'), [:admin, object], method: :delete, data: { confirm: t('sure') }
