- content_for :title, t('.title')
%h3= @event.name
%h4= shopping_time(@event)
.list-group
  - @support_types.each do |support_type|
    .list-group-item
      %h3= support_type.name
      = markdown(support_type.description).html_safe
      - supporter = support_type.supporters.find { |supporter| supporter.seller == @seller }
      - if supporter.present?
        %p
          %strong Sie Sind bereits Helfer!
          - if supporter.comments.present?
            %p Anmerkungen: #{supporter.comments}
          - if @event.supporters_can_retire?
            %p= destroy_link_to event_destroy_support_path(@event, support_type), name: t('.unhelp'), icon: :leaf, message: t('.delete.confirm')
          - else
            %strong Sollten Sie als Helfer zurücktreten wollen, kontaktieren Sie uns bitte!
      - else
        - if support_type.capacity > support_type.supporters.count
          = link_to t('.help'), event_new_support_path(@event, support_type), type: :primary, icon: :leaf
        - else
          %p Hierfür werden keine Helfer mehr benötigt.
= link_to t('.back'), seller_path, type: :default
= render '/confirm', locals: { type: :danger }
